/* About Page */
.about-page {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 100px 30px;
}

.about-container {
  max-width: 900px;
  text-align: center;
}

/* Heading */
.about-container h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--text);
  line-height: 1.2;
  
}

/* Paragraphs */
.about-container p {
  font-size: 20px;
  line-height: 1.45;
  color: var(--secondary);
   font-size: 20px;
  text-align: left;
}

/* Fading Animation (same as Dashboard) */
.fade-up {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.9s ease forwards;
}


/* Keyframes */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
