/* Blog Page */
.blog-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 30px;
}

.blog-container {
  max-width: 900px;
  text-align: center;
}

/* Main Heading */
.blog-container h1 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--text);
  
}

/* Blog Title */
.blog-container h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
  color: var(--text);
}

/* Paragraphs */
.blog-container p {
  margin-bottom: 18px;
  line-height: 1.6;
  color: var(--secondary);
  font-size: 17px;
  text-align: justify;
}

/* Fade Animation */
.fade-up {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.9s ease forwards;
}

/* Delay Helpers */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.8s;
}

/* Keyframes */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
