.cases-page {
  display: flex;
  justify-content: center;
  padding: 100px 30px;
}

.cases-container {
  max-width: 900px;
  text-align: center;
}

/* Heading */
.cases-container h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--text);
  line-height: 1.2;

  transform: translateY(25px);
}

/* Paragraphs */
.cases-container > p {
  margin-bottom: 18px;
  line-height: 1.45;
  color: var(--secondary);
  font-size: 20px;

  transform: translateY(25px);
  text-align: left;
}

.cases-container > p:nth-of-type(1) {
  animation-delay: 0.2s;
}

.cases-container > p:nth-of-type(2) {
  animation-delay: 0.4s;
}

/* Work-in-progress box */
.placeholder-box {
  margin-top: 40px;
  padding: 35px 25px;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  transform: translateY(25px);
}

.placeholder-box h2 {
  font-size: 20px;
  color: var(--text);
  margin-bottom: 10px;
}

.placeholder-box p {
  color: var(--secondary);
  font-size: 18px;
  text-align: left;
}

/* Fade Animation */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeup {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.9s ease forwards;
}
