/* Journey Page */

.journey-page {
  display: flex;
  justify-content: center;
  padding: 100px 30px;
}

.journey-container {
  max-width: 900px;
  text-align: center;
}




/* Title */
.journey-title {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--text);
  line-height: 1.2;
  font-family: "DM Serif Display", serif;
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.9s ease forwards;
}

/* Description */
.journey-description {
  margin-bottom: 20px;
  line-height: 1.45;
  color: var(--secondary);
  font-size: 17px;
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.9s ease forwards;
}

/* Animation Delays */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}

/* Work in Progress Card */
.journey-wip-card {
  margin-top: 45px;
  background: rgba(255, 255, 255, 0.06);
  padding: 35px 28px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  text-align: center;
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.9s ease forwards;
  transition: all 0.3s ease;
}

/* Hover Effect */
.journey-wip-card:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.1);
  border-color: var(--secondary);
}

/* WIP Heading */
.journey-wip-card h3 {
  font-size: 24px;
  font-family: "DM Serif Display", serif;
  margin-bottom: 12px;
  color: var(--text);
}

/* WIP Text */
.journey-wip-card p {
  color: var(--secondary);
  font-size: 16px;
  line-height: 1.4;
}

/* Fade Animation */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* WIP Image */
.journey-wip-image {
  width: 100%;
  /* height: 500px; */
  margin: 20px 0px;
  /* object-fit: contain; */
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 0.8s ease forwards;
  animation-delay: 0.7s;
}

/* Image Animation */
@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
