@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "DM Serif Display", serif;
font-family: "EB Garamond", serif;
font-family: "Inter", sans-serif;
font-family: "Libre Baskerville", serif;
font-family: "Merriweather", serif;
font-family: "Poppins", sans-serif; */

@font-face {
  font-family: Calibri-Bold;
  src: url(./assets/fonts/fonnts.com-Calibri_Bold.otf);
}
@font-face {
  font-family: Calibri;
  src: url(./assets/fonts/fonnts.com-Calibri.otf);
}
@font-face {
  font-family: Calibri-Light;
  src: url(./assets/fonts/fonnts.com-Calibri_Light.otf);
}
@font-face {
  font-family: Calibri-Italic;
  src: url(./assets/fonts/fonnts.com-Calibri_Italic.otf);
}
@font-face {
  font-family: Calibri-Light-Italic;
  src: url(./assets/fonts/fonnts.com-Calibri_Light_Italic.otf);
}
@font-face {
  font-family: Calibri-Bold-Italic;
  src: url(./assets/fonts/fonnts.com-Calibri_Bold_Italic.otf);
}

/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Calibri";
  font-weight: 400;
  font-size: 18px;
}

/* THEME COLORS */
:root {
  --primary: #1c442f;
  --secondary: #d19a62;
  --text: #ffffff;
}

body {
  background-color: var(--primary);
  color: var(--text);
  font-family: "Inter", sans-serif;
}
html,
body {
  overflow-y: scroll;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
